@import "reset.css";

body {
    background: linear-gradient(to bottom right, rgb(7, 129, 153), rgb(62, 35, 234));
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.quiz {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
}

.quiz__header {
    padding: 20px 30px 10px;
    font-size: 20px;
    font-weight: 600;
}

.quiz__content {
    padding: 30px 30px 10px;
}

.quiz__title {
    font-size: 25px;
    font-weight: 650;
}


.quiz__list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 20px 0px;
}

.quiz__choice {
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    min-height: 44px;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
}

.quiz__choice:hover {
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
}

.quiz__choice.correct {
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}

.quiz__choice.incorrect {
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

.quiz__choice.disabled {
    pointer-events: none;
}

.quiz__btn {
    display: flex;
    justify-content: flex-end;
    padding: 5px 30px 15px;
}


.quiz__next-btn {
    min-width: 100px;
    height: 40px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
    color: rgb(202, 199, 199);
    background: aliceblue;
    border: 1px solid aliceblue;
}

.quiz__next-btn.active {
    color: #fff;
    background: #007bff;
    border: 1px solid #007bff;
}

.result {
    max-width: 450px;
    min-height: 450px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}



.result__title {
    font-size: 22px;
    font-weight: 550;
    text-align: center;
}

.result__text {
    margin: 15px 0;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.result__btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.result__restart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid #007bff;
    color: #007bff;
    background: #fff;
}

.result__restart:hover {
    color: #fff;
    background: #007bff;
}

@media screen and (max-width:450px) {

    .quiz__header {
        font-size: 15px;
        padding: 15px 25px 5px;
    }

    .quiz__content {
        padding: 15px 25px 5px;
    }

    .quiz__title {
        font-size: 18px;
    }

    .quiz__choice {
        min-height: 0;
    }

    .guiz__next-btn {
        min-width: 80px;
        height: 30px;
    }

    .result {
        min-height: 250px;
    }

    .result__title {
        font-size: 18px;
    }

    .result__text {
        font-size: 16px;
    }
}