.timer__base {
    position: relative;
    width: 60px;
    font-size: 50px;
    height: 60px;
    color: rgb(65, 184, 131);
    text-shadow: 1px 1px black;
}

.time__remaining-text {
    font-size: 25px;
}

.timer__base.warning {
    color: orange;
}

.timer__base.alert {
    color: red;
}

.progressbar {
    position: relative;
    height: 5px;
    background-color: rgb(65, 184, 131);
}


.progressbar.warning {
    background-color: orange;
}

.progressbar.alert {
    background-color: red;
}